/***
Base Styles
***/

body {
	@apply font-sans antialiased bg-white text-gray-900 leading-normal;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	@apply font-serif font-semibold text-gray-950 leading-tight;
}

h1,
.h1 {
	@apply text-5xl italic;
}

h2,
.h2 {
	@apply text-4xl italic;
}

h3,
.h3 {
	@apply text-3xl;
}

h4,
.h4 {
	@apply text-2xl font-medium;
}

h5,
.h5 {
	@apply text-xl font-medium;
}

h6,
.h6 {
	@apply text-lg font-medium;
}

/***
Grid
***/
.main-grid {
	display: grid;
	grid-template-columns: minmax(0, 1fr) 96px,
		repeat(4, 180px) 96px minmax(0, 1fr);
	grid-template-areas: 'full margin content content content content margin full';
	gap: 1rem;
	width: 100%;
}
