/***
Misc
***/

:root {
	--color-brand-primary: #c9ff00;
}

::selection {
	background-color: var(--color-brand-primary);
}

/***
Base Styles
***/

body {
	@apply font-sans antialiased bg-white text-gray-700 leading-normal font-light;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	@apply font-serif font-semibold text-gray-950 leading-tight;
}

h1,
.h1 {
	@apply text-4xl italic;
}

h2,
.h2 {
	@apply text-3xl italic;
}

h3,
.h3 {
	@apply text-2xl;
}

h4,
.h4 {
	@apply text-xl font-medium;
}

h5,
.h5 {
	@apply text-lg font-medium;
}

h6,
.h6 {
	@apply font-medium;
}

/***
Grid
***/

.main-grid {
	display: grid;
	grid-template-columns: 0 repeat(4, 1fr) 0;
	gap: 1rem;
	width: 100%;
}

.margin-stretch {
	grid-column: 2 / -2;
}

.content-stretch {
	grid-column: 2 / -2;
}

@media (min-width: 768px) {
	.main-grid {
		grid-template-columns: 0 1fr repeat(4, 180px) 1fr 0;
	}

	.content-stretch {
		grid-column: 3 / -3;
	}
}

@media (min-width: 1280px) {
	.main-grid {
		grid-template-columns: 1fr 224px repeat(4, 180px) 224px 1fr;
	}
}

/***
Links
***/

/* Modified from:  https://dannyguo.medium.com/animated-multiline-link-underlines-with-css-abe07f3d6aee */

a:not(.no-highlight, :has(svg), :has(img)) {
	background-position: 0% 100%;
	background-image: linear-gradient(
		var(--color-brand-primary),
		var(--color-brand-primary)
	);
	background-repeat: no-repeat;
	background-size: 0% 100%;
	transition: all 0.3s ease-in-out;
}

a:not(nav a) {
	@apply text-gray-950 underline underline-offset-2 decoration-gray-300;
}

a:hover,
a:focus,
nav a.is-active {
	background-size: 100% 100%;
	@apply decoration-transparent;
}

/***
Misc
***/
