---
import { type CollectionEntry, getCollection } from 'astro:content';
import Post from '../layouts/PostLayout.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import HeaderTitle from '../components/HeaderTitle.astro';
import HeaderContainer from '../components/HeaderContainer.astro';

type Props = CollectionEntry<'posts'> | CollectionEntry<'redirects'>;

export async function getStaticPaths() {
	const entries = [
		...(await getCollection('posts')),
		...(await getCollection('redirects')),
	];
	return entries.map((entry) => ({
		params: { slug: entry.slug },
		props: entry,
	}));
}

const entry = Astro.props as Props;
const { Content } = await entry.render();
---

{
	entry.collection === 'posts' && (
		<Post {...entry.data}>
			<div class="prose prose-img:rounded prose-headings:font-medium max-w-none">
				<Content />
			</div>
		</Post>
	)
}

{
	entry.collection === 'redirects' && (
		<BaseLayout redirect={entry.data.to} index={false}>
			<header slot="header" class="main-grid">
				<HeaderContainer>
					<HeaderTitle>
						<h1>This site will soon redirect you</h1>
						<p>One moment please…</p>
					</HeaderTitle>
				</HeaderContainer>
			</header>
		</BaseLayout>
	)
}
