---
import { type CollectionEntry, getCollection } from 'astro:content';
import Post from '../layouts/PostLayout.astro';
import BaseLayout from '../layouts/BaseLayout.astro';

type Props = CollectionEntry<'posts'> | CollectionEntry<'redirects'>;

export async function getStaticPaths() {
	const entries = [
		...(await getCollection('posts')),
		...(await getCollection('redirects')),
	];
	return entries.map((entry) => ({
		params: { slug: entry.slug },
		props: entry,
	}));
}

const entry = Astro.props as Props;
const { Content } = await entry.render();
---

{
	entry.collection === 'posts' && (
		<Post {...entry.data}>
			<div class="prose prose-img:rounded max-w-none">
				<Content />
			</div>
		</Post>
	)
}

{entry.collection === 'redirects' && <BaseLayout redirect={entry.data.to} />}
