---
import SimpleLinkButton from '../components/Button.astro';
import HeaderContainer from '../components/HeaderContainer.astro';
import HeaderTitle from '../components/HeaderTitle.astro';
import MainContainer from '../components/MainContainer.astro';
import SectionMarginTitle from '../components/SectionMarginTitle.astro';
import BaseLayout from '../layouts/BaseLayout.astro';

import og from '../images/og/hello.jpg';

const title = 'Nice to meet you!';

const description = 'Here are all the places where you can reach me online.';
---

<BaseLayout title={title} description={description} image={og.src}>
	<header slot="header" class="main-grid">
		<HeaderContainer>
			<HeaderTitle>
				<h1>How to get in touch.</h1>
			</HeaderTitle>
			<div class="flex flex-col gap-4">
				<p class="font-medium text-pretty">
					Here are all the places where you can reach me online.
				</p>
			</div>
		</HeaderContainer>
	</header>
	<MainContainer>
		<SectionMarginTitle title="The best way to reach my inbox">
			<p>
				Simply send me an email and tell me your idea, what you're up, where I
				can help you out &ndash; or simply say hi. I'll get back to you as soon
				as possible and reply to every message :)
			</p>
			<div class="self-start">
				<SimpleLinkButton href="/hi" target="_blank" rel="noopener" icon="mail">
					<span>Email</span>
				</SimpleLinkButton>
			</div>
		</SectionMarginTitle>
		<SectionMarginTitle title="Stay up to date">
			<div class="prose">
				<p>
					If you're using an RSS feed reader, add my <a href="/rss.xml"
						>personal blog feed</a
					> to never miss a post!
				</p>
			</div>
			<div class="self-start">
				<SimpleLinkButton
					href="/rss.xml"
					target="_blank"
					rel="noopener"
					icon="rss">
					<span>RSS feed</span>
				</SimpleLinkButton>
			</div>
		</SectionMarginTitle>
		<SectionMarginTitle title="On the socials">
			<p>
				I try to limit my social media consumption as much as possible. That's
				why you'll only really find me on Bluesky & Mastodon (albeit just
				semi-regularly). I share some updates/new blogposts on there, so feel
				free to join me:
			</p>
			<div class="self-start flex items-center gap-4">
				<SimpleLinkButton
					href="https://bsky.app/profile/dominikhofer.me"
					target="_blank"
					rel="noopener"
					icon="brand-bluesky">
					<span>Bluesky</span>
				</SimpleLinkButton>
				<SimpleLinkButton
					href="https://social.lol/@dominikhofer"
					target="_blank"
					rel="nofollow me"
					icon="brand-mastodon">
					<span>Mastodon</span>
				</SimpleLinkButton>
			</div>
		</SectionMarginTitle>
	</MainContainer>
</BaseLayout>
