---
import BaseLayout from '../layouts/BaseLayout.astro';
import SectionMarginTitle from '../components/SectionMarginTitle.astro';
import HeaderTitle from '../components/HeaderTitle.astro';
import HeaderContainer from '../components/HeaderContainer.astro';
import MainContainer from '../components/MainContainer.astro';
import SimpleLinkButton from '../components/SimpleLinkButton.astro';

import og from '../images/og/hello.jpg';

const title = 'Nice to meet you!';

const description = 'Here are all the places where you can reach me online.';
---

<BaseLayout title={title} description={description} image={og.src}>
	<header slot="header" class="main-grid">
		<HeaderContainer>
			<HeaderTitle>
				<h1>How to get in touch.</h1>
			</HeaderTitle>
			<div class="flex flex-col gap-4">
				<p class="font-medium text-pretty">
					Here are all the places where you can reach me online.
				</p>
			</div>
		</HeaderContainer>
	</header>
	<MainContainer>
		<SectionMarginTitle title="The best way">
			<p>
				Simply send me an email and tell me your idea, what you're up, where I
				can help you out &ndash; or simply say hi. I'll get back to you as soon
				as possible and reply to every message :)
			</p>
			<div class="self-start">
				<SimpleLinkButton
					href="https://hoferdo.link/hi"
					target="_blank"
					icon="envelope">
					<span>Email</span>
				</SimpleLinkButton>
			</div>
		</SectionMarginTitle>
		<SectionMarginTitle title="Stay up to date">
			<div class="prose">
				<p>
					If you're using an RSS feed reader, add my <a
						href="https://hoferdo.link/rss">personal blog feed</a
					> to never miss a post!
				</p>
			</div>
			<div class="self-start">
				<SimpleLinkButton
					href="https://hoferdo.link/rss"
					target="_blank"
					icon="rss">
					<span>RSS feed</span>
				</SimpleLinkButton>
			</div>
			<div class="prose">
				<p>
					Additionally, every other week, I send out a personal newsletter
					called <span class="font-medium"> “Tiny Sparks” </span>. With (but not
					limited to):
				</p>
				<ul>
					<li>
						<span class="font-medium">Personal updates</span>, what I'm working
						on, other behind the scenes
					</li>
					<li>
						<span class="font-medium"
							>Sharing my struggles and where I need feedback</span
						> (you can help me shape the products I'm building!)
					</li>
					<li>
						<span class="font-medium">Content piece of the week</span> (video, article,
						book, …)
					</li>
					<li>
						<span class="font-medium">Tool of the week</span> (website or app)
					</li>
				</ul>
				<p>
					If that sounds like something you'd be interested in, sign up below:
				</p>
			</div>
			<div class="self-start">
				<SimpleLinkButton
					href="https://hoferdo.link/newsletter"
					target="_blank"
					icon="mailbox">
					<span>Personal newsletter</span>
				</SimpleLinkButton>
			</div>
		</SectionMarginTitle>
		<SectionMarginTitle title="On the socials">
			<p>
				I try to limit my social media consumption as much as possible. That's
				why you'll only really find me on Mastodon (albeit just semi-regularly).
				I might share some product updates on there, so feel free to join me on
				the Fediverse:
			</p>
			<div class="self-start">
				<SimpleLinkButton
					href="https://hoferdo.link/mastodon"
					target="_blank"
					icon="mastodon-logo">
					<span>Mastodon</span>
				</SimpleLinkButton>
			</div>
		</SectionMarginTitle>
	</MainContainer>
</BaseLayout>
