---
import FancyImage from '../components/FancyImage.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import SectionMarginTitle from '../components/SectionMarginTitle.astro';

import mainImage from '../images/pages/view.jpg';
import Socials from '../components/Socials.astro';
---

<BaseLayout>
	<header slot="header" class="main-grid">
		<div class="content-stretch space-y-12" data-hover-group>
			<h1 class="h2">
				<span data-hover-word="curious">Curious. </span><span
					data-hover-word="creative"
					>Creative.
				</span><span data-hover-word="coder">Coder.</span>
			</h1>
			<div class="space-y-4">
				<p>That’s me, Dominik :)</p>
				<p>
					<span data-hover-word="curious"
						>I like to learn & understand more about the world we live in.</span
					>
					<span data-hover-word="creative">
						While coming up with cool ideas & designing beautiful things.
					</span>
					<span data-hover-word="coder">
						And bringing them to life with fancy symbols.
					</span>
				</p>
				<p>
					That’s the most important stuff. If that peaked your interest, you can
					find the extended edition of my personal profile over at <a
						href="/about">/about</a
					>.
				</p>
			</div>
			<FancyImage
				image={mainImage}
				alt="B&W picture of me looking at Lyon."
				class="aspect-[1.85/1]"
				display-name="view.jpg"
				location="Lyon, FR"
			/>
		</div>
	</header>
	<div class="space-y-16">
		<SectionMarginTitle title="Where to reach me">
			<p>
				Wanna share an idea, show me your project, talk about everything under
				the sun or just say hi? You can reach me on <a
					href="https://hoferdo.link/twitter"
					target="_blank">Twitter/X</a
				>, <a href="https://hoferdo.link/mastodon" target="_blank">Mastodon</a> or
				via <a href="mailto:hi@dominikhofer.me?subject=Hi%2C%20it%27s%20me!"
					>email</a
				>.
			</p>
			<p>Looking forward to your message ✌️</p>
			<Socials />
		</SectionMarginTitle>
		<SectionMarginTitle title="What I do">
			<p>
				I craft things with code and try to create more analog stuff. A more
				accurate description of my current endeavours is listed over at <a
					href="/now">/now</a
				>.
			</p>
			<p>Here’s a recent project I am proud of:</p>
			<p>
				A list of all project is available here: <a href="/now?t=project"
					>/now?t=project</a
				> (at least the ones I found on my hard drive).
			</p>
			<p>
				And since touching grass is also important from time to time, I’m an
				avid <a href="/races">runner</a> as well.
			</p>
		</SectionMarginTitle>
	</div>
</BaseLayout>

<style>
	[data-hover-word] {
		transition: all 0.3s ease-out 0s;
	}

	[data-hover-group]:has([data-hover-word]:hover) [data-hover-word] {
		opacity: 0.25;
	}

	[data-hover-group]:has([data-hover-word='curious']:hover)
		[data-hover-word='curious'],
	[data-hover-group]:has([data-hover-word='creative']:hover)
		[data-hover-word='creative'],
	[data-hover-group]:has([data-hover-word='coder']:hover)
		[data-hover-word='coder'] {
		opacity: 1;
	}
</style>
