---
// opt out of prerendering
export const prerender = false;

import { getCollection } from 'astro:content';

import BaseLayout from '../layouts/BaseLayout.astro';
import SectionMarginTitle from '../components/SectionMarginTitle.astro';
import Milestone from '../components/Milestone.astro';
import HeaderTitle from '../components/HeaderTitle.astro';
import HeaderContainer from '../components/HeaderContainer.astro';
import MainContainer from '../components/MainContainer.astro';
import { Icon } from 'astro-icon/components';

const type = Astro.url.searchParams.get('t') || '';

let milestones = await getCollection('milestones');
type Milestones = (typeof milestones)[number][];

if (type === 'cv' || type === 'personal' || type === 'project') {
	milestones = milestones.filter((milestone) => milestone.data.type === type);
}

const groupedMilestones = groupMilestonesByYear(milestones);

function groupMilestonesByYear(milestones: Milestones): [number, Milestones][] {
	const years: { [key: number]: Milestones } = {};

	milestones.forEach((milestone) => {
		const year = new Date(milestone.data.date).getFullYear();

		if (!years[year]) {
			years[year] = [] as Milestones;
		}

		years[year].push(milestone);
	});

	Object.keys(years).forEach((year) => {
		years[Number(year)].sort(
			(a, b) =>
				new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
		);
	});

	// Convert the years object to an array of [year, milestones] tuples
	const sortedYears: [number, Milestones][] = Object.entries(years).map(
		([year, milestones]) => [Number(year), milestones]
	);

	// Sort the years in descending order (newest to oldest)
	sortedYears.sort((a, b) => b[0] - a[0]);

	return sortedYears;
}
---

<BaseLayout>
	<header slot="header" class="main-grid">
		<HeaderContainer>
			<HeaderTitle>
				<h1>On my mind.</h1>
				<!-- TODO: Extract this tag -->
				<div
					class="rounded-full bg-gray-50 text-body-lighter transition-all items-center gap-2 no-underline px-2 py-1 inline-flex font-mono text-sm self-start">
					<Icon name="ph:calendar-dots" class="w-4 h-4" />
					Last updated: 29/05/24
				</div>
			</HeaderTitle>
			<div class="flex flex-col gap-4">
				<p class="font-medium">
					(This is a <a href="https://nownownow.com/" target="_blank"
						>now page</a
					>, and if you have your own site, <a
						href="https://nownownow.com/about"
						target="_blank">you should make one</a
					>, too.)
				</p>
			</div>
		</HeaderContainer>
	</header>
	<MainContainer>
		<SectionMarginTitle title="Right now">
			<div class="flex flex-col gap-2">
				<h2 class="h3">Location</h2>
				<p>Bern, Switzerland</p>
			</div>
			<div class="flex flex-col gap-2">
				<h2 class="h3">What I'm up to</h2>
				<div class="prose">
					<ul>
						<li>
							Launching this website &ndash; if you can read this, I achieved it
							:)
						</li>
						<li>
							Training for my next 10k race (Lausanne, in October 2024). Will do
							a few races in between as well.
						</li>
						<li>
							Learning <a href="https://laravel.com" target="_blank">Laravel</a>
							(once again, but this time for real &ndash; I hope).
						</li>
						<li>
							Working on a tool, that automates quality assurance on your
							website: <a href="https://inspectthis.site" target="_blank"
								>inspecthis.site</a
							>
						</li>
						<li>
							Planning a SaaS and some Framer plugins with <a
								href="https://cedric.design"
								target="_blank">Cédric</a
							>.
						</li>
						<li>
							Working as the Lead Webflow Developer @<a
								href="https://bloqlabs.ch"
								target="_blank">Bloq Labs</a
							>.
						</li>
					</ul>
				</div>
			</div>
		</SectionMarginTitle>
		{
			groupedMilestones.map(([year, milestones]) => (
				<>
					<SectionMarginTitle title={year.toString()}>
						{milestones.map((milestone) => (
							<Milestone
								milestone={milestone}
								showImage={milestone.data.featured ? true : false}
							/>
						))}
					</SectionMarginTitle>
				</>
			))
		}
	</MainContainer>
</BaseLayout>
