---
import HeaderContainer from '../components/HeaderContainer.astro';
import HeaderTitle from '../components/HeaderTitle.astro';
import MainContainer from '../components/MainContainer.astro';
import SectionMarginTitle from '../components/SectionMarginTitle.astro';
import SimpleTag from '../components/SimpleTag.astro';
import BaseLayout from '../layouts/BaseLayout.astro';

import og from '../images/og/now.jpg';

const title = "What's up?";

const description =
	"A now page is a simple, effective way to share what you're up to right now. Here's what I'm doing at the moment.";
---

<BaseLayout title={title} description={description} image={og.src}>
	<header slot="header" class="main-grid">
		<HeaderContainer>
			<HeaderTitle>
				<h1>What's up?</h1>
				<SimpleTag icon="calendar-dots">Last updated: July 24th, 2024</SimpleTag
				>
			</HeaderTitle>
			<div class="flex flex-col gap-4">
				<p class="font-medium text-pretty">
					(This is a <a
						href="https://nownownow.com/"
						target="_blank"
						rel="noopener">now page</a
					>, and if you have your own site, <a
						href="https://nownownow.com/about"
						target="_blank"
						rel="noopener">you should make one</a
					>, too.)
				</p>
			</div>
		</HeaderContainer>
	</header>
	<MainContainer>
		<SectionMarginTitle title="Location">
			<p>Bern, Switzerland</p>
		</SectionMarginTitle>
		<SectionMarginTitle title="What I'm up to">
			<div class="prose">
				<ul>
					<li class="mt-0">
						Trying to cultivate a writing habit (check <a href="/posts"
							>my blog</a
						> to verify).
					</li>
					<li>
						Training for my next 10k race (Lausanne, in October 2024). Will do a
						few races in between as well.
					</li>
					<li>
						Building my own <a href="/building-a-forever-diary">Forever Diary</a
						> with Laravel.
					</li>
					<li>
						Working as the Lead Webflow Developer @<a
							href="https://bloqlabs.ch"
							target="_blank"
							rel="noopener">Bloq Labs</a
						>.
					</li>
				</ul>
			</div>
		</SectionMarginTitle>
		<SectionMarginTitle title="What I'm reading">
			<div class="prose">
				<ul>
					<li class="mt-0">
						<a
							href="https://literal.club/hfrdmnk/book/hwang-bo-reum-welcome-to-the-hyunam-dong-bookshop-qr4r1"
							target="_blank"
							rel="noopener">Welcome to the Hyunam-dong Bookshop</a
						> by Hwang Bo-reum
					</li>
					<li>
						<a
							href="https://literal.club/hfrdmnk/book/eliza-clark-penance-hbfhr"
							target="_blank"
							rel="noopener">Penance</a
						> by Eliza Clark
					</li>
					<li>
						<a
							href="https://literal.club/hfrdmnk/book/peter-attia-bill-gifford-outlive-n6oby"
							target="_blank"
							rel="noopener">Outlive</a
						> by Peter Attia & Bill Gifford
					</li>
					<li>
						<a
							href="https://literal.club/hfrdmnk/book/christopher-mcdougall-born-to-run-074qv"
							target="_blank"
							rel="noopener">Born to Run</a
						> by Christopher McDougall
					</li>
					<li>
						<a
							href="https://literal.club/hfrdmnk/book/christine-brand-vermisst-wl3px"
							target="_blank"
							rel="noopener">Vermisst</a
						> by Christine Brand
					</li>
				</ul>
				<p>
					If I ever forget to update this list, check out my <a
						href="https://hoferdo.link/literal"
						target="_blank"
						rel="noopener">Literal profile</a
					> (it should always be up to date).
				</p>
			</div>
		</SectionMarginTitle>
	</MainContainer>
</BaseLayout>
