---
import HeaderContainer from '../components/HeaderContainer.astro';
import HeaderTitle from '../components/HeaderTitle.astro';
import MainContainer from '../components/MainContainer.astro';
import SectionMarginTitle from '../components/SectionMarginTitle.astro';
import SimpleTag from '../components/SimpleTag.astro';
import BaseLayout from '../layouts/BaseLayout.astro';

import og from '../images/og/now.jpg';

const title = "What's up?";

const description =
	"A now page is a simple, effective way to share what you're up to right now. Here's what I'm doing at the moment.";
---

<BaseLayout title={title} description={description} image={og.src}>
	<header slot="header" class="main-grid">
		<HeaderContainer>
			<HeaderTitle>
				<h1>What's up?</h1>
				<SimpleTag icon="calendar-dots"
					>Last updated: October 5th, 2024</SimpleTag
				>
			</HeaderTitle>
			<div class="flex flex-col gap-4">
				<p class="font-medium text-pretty">
					(This is a <a
						href="https://nownownow.com/"
						target="_blank"
						rel="noopener">now page</a
					>, and if you have your own site, <a
						href="https://nownownow.com/about"
						target="_blank"
						rel="noopener">you should make one</a
					>, too.)
				</p>
			</div>
		</HeaderContainer>
	</header>
	<MainContainer>
		<SectionMarginTitle title="Location">
			<p>Bern, Switzerland</p>
		</SectionMarginTitle>
		<SectionMarginTitle title="What I'm up to">
			<div class="prose">
				<ul>
					<li class="mt-0">
						Trying to cultivate a writing habit (check <a href="/posts"
							>my blog</a
						> to verify).
					</li>
					<li>
						Training for my next 10k race (Lausanne, in October 2024). Will do a
						few races in between as well.
					</li>
					<li>
						Building my own <a href="/building-a-forever-diary">Forever Diary</a
						> with Laravel. I'm not planning to release it to the public, but it's
						useful to me and I'm learning a lot.
					</li>
					<li>
						Building Tsugido, a simple daily todo list app with a few twists
						that helps me stay focused. This one will be released once it's
						somewhat polished, so hopefully, it will help you as well.
					</li>
					<li>
						Studying Computer Science @<a
							href="https://www.unibe.ch"
							target="_blank"
							rel="noopener">University of Bern</a
						>.
					</li>
					<li>
						Working as the Lead Webflow Developer @<a
							href="https://bloqlabs.ch"
							target="_blank"
							rel="noopener">Bloq Labs</a
						>.
					</li>
				</ul>
			</div>
		</SectionMarginTitle>
		<SectionMarginTitle title="What I'm reading">
			<div class="prose">
				<ul>
					<li class="first:mt-0">
						<a
							href="https://literal.club/hfrdmnk/book/justin-cronin-the-ferryman-li2i8"
							target="_blank"
							rel="noopener">The Ferryman</a
						> by Justin Cronin
					</li>
					<li class="first:mt-0">
						<a
							href="https://literal.club/hfrdmnk/book/ich-denk-ich-denk-zu-viel-3lv75"
							target="_blank"
							rel="noopener">Ich denk, ich denk zu viel</a
						> by Nina Kunz
					</li>
					<li class="first:mt-0">
						<a
							href="https://literal.club/hfrdmnk/book/deep-work-wbun9"
							target="_blank"
							rel="noopener">Deep Work</a
						> by Cal Newport
					</li>
				</ul>
				<p>
					If I ever forget to update this list, check out my <a
						href="https://hoferdo.link/literal"
						target="_blank"
						rel="noopener">Literal profile</a
					> (it should always be up to date).
				</p>
			</div>
		</SectionMarginTitle>
	</MainContainer>
</BaseLayout>
