---
import HeaderContainer from '../components/HeaderContainer.astro';
import HeaderTitle from '../components/HeaderTitle.astro';
import MainContainer from '../components/MainContainer.astro';
import SectionMarginTitle from '../components/SectionMarginTitle.astro';
import SimpleTag from '../components/SimpleTag.astro';
import BaseLayout from '../layouts/BaseLayout.astro';

import og from '../images/og/now.jpg';

const title = "What's up?";

const description =
	"A now page is a simple, effective way to share what you're up to right now. Here's what I'm doing at the moment.";
---

<BaseLayout title={title} description={description} image={og.src}>
	<header slot="header" class="main-grid">
		<HeaderContainer>
			<HeaderTitle>
				<h1>What's up?</h1>
				<SimpleTag icon="calendar-month"
					>Last updated: January 31st, 2025</SimpleTag
				>
			</HeaderTitle>
			<div class="flex flex-col gap-4">
				<p class="font-medium text-pretty">
					(This is a <a
						href="https://nownownow.com/"
						target="_blank"
						rel="noopener">now page</a
					>, and if you have your own site, <a
						href="https://nownownow.com/about"
						target="_blank"
						rel="noopener">you should make one</a
					>, too.)
				</p>
			</div>
		</HeaderContainer>
	</header>
	<MainContainer>
		<SectionMarginTitle title="Location">
			<p>Bern, Switzerland</p>
		</SectionMarginTitle>
		<SectionMarginTitle title="What I'm up to">
			<div class="prose">
				<ul>
					<li class="first:mt-0">
						Studying Computer Science @<a
							href="https://www.unibe.ch"
							target="_blank"
							rel="noopener">University of Bern</a
						>.
					</li>
					<li class="first:mt-0">Working on a client project (coming soon).</li>
					<li class="first:mt-0">Working on v2 of this website.</li>
					<!-- <li class="first:mt-0">
						Building Tsugido, a simple daily todo list app with a few twists
						that helps me stay focused. This one will be released once it's
						somewhat polished, so hopefully, it will help you as well.
					</li> -->
					<li class="first:mt-0">
						Trying to (somewhat) regularly write on <a href="/posts">the blog</a
						>.
					</li>
					<li class="first:mt-0">
						Working as the Lead Webflow Developer @<a
							href="https://bloqlabs.ch"
							target="_blank"
							rel="noopener">Bloq Labs</a
						>.
					</li>
				</ul>
			</div>
		</SectionMarginTitle>
		<SectionMarginTitle title="What I'm reading">
			<div class="prose">
				<ul>
					<li class="first:mt-0">
						<a
							href="https://literal.club/hfrdmnk/book/pascal-engman-johannes-selaker-wintersonnenwende-epe1d"
							target="_blank"
							rel="noopener">Wintersonnenwende</a
						> by Pascal Engman & Johannes Selåker
					</li>
					<li class="first:mt-0">
						<a
							href="https://literal.club/hfrdmnk/book/joseph-cox-dark-wire-4gl1b"
							target="_blank"
							rel="noopener">Dark Wire</a
						> by Joseph Cox
					</li>
					<li class="first:mt-0">
						<a
							href="https://literal.club/hfrdmnk/book/caroline-wahl-22-bahnen-q0708"
							target="_blank"
							rel="noopener">22 Bahnen</a
						> by Caroline Wahl
					</li>
				</ul>
				<p>
					If I ever forget to update this list, check out my <a
						href="https://hoferdo.link/literal"
						target="_blank"
						rel="noopener">Literal profile</a
					> (it should always be up to date).
				</p>
			</div>
		</SectionMarginTitle>
	</MainContainer>
</BaseLayout>
