---
import { Icon } from 'astro-icon/components';
import { default as cn } from 'classnames';
const {
	isSimple = false,
	isActive = false,
	icon: iconName,
	...props
} = Astro.props;
---

<a
	{...props}
	class={cn(
		'rounded transition-all duration-300 flex items-center gap-2 no-underline select-none flex-shrink-0 text-sm',
		{
			'p-2 bg-gray-50 hover:bg-gray-100 border': !isSimple,
			'bg-gray-900 hover:bg-gray-700 text-gray-100 hover:text-gray-50 border-none':
				isActive,
			'text-gray-500 hover:text-gray-800 border-gray-200': !isActive,
		}
	)}>
	<Icon name=`ph:${iconName}` class="w-5 h-5" />
	<slot />
</a>
