---
import { Icon } from 'astro-icon/components';
import { default as cn } from 'classnames';
const {
	isSimple = false,
	isActive = false,
	icon: iconName,
	iconClass,
	...props
} = Astro.props;
---

<a
	{...props}
	class={cn(
		'rounded transition-all duration-300 flex items-center gap-2 no-underline select-none flex-shrink-0 text-sm',
		{
			'p-2 bg-gray-50 hover:bg-gray-100 border': !isSimple,
			'bg-gray-900 hover:bg-gray-700 text-gray-100 hover:text-gray-50 border-none':
				isActive,
			'text-gray-500 hover:text-gray-800 border-gray-200': !isActive,
			'hover:text-sky-500 hover:border-sky-500': iconName === 'brand-bluesky',
			'hover:bg-sky-100': iconName === 'brand-bluesky' && !isSimple,
			'hover:text-indigo-500 hover:border-indigo-500':
				iconName === 'brand-mastodon',
			'hover:bg-indigo-100': iconName === 'brand-mastodon' && !isSimple,
			'hover:text-green-500 hover:border-green-500':
				iconName === 'brand-github',
			'hover:bg-green-100': iconName === 'brand-github' && !isSimple,
			'hover:!text-blue-500 hover:border-blue-500': iconName === 'mail',
			'hover:bg-blue-100': iconName === 'mail' && !isSimple,
			'hover:text-orange-500 hover:border-orange-500': iconName === 'rss',
			'hover:bg-orange-100': iconName === 'rss' && !isSimple,
			'hover:text-purple-500 hover:border-purple-500': iconName === 'mailbox',
			'hover:bg-purple-100': iconName === 'mailbox' && !isSimple,
		}
	)}>
	<Icon
		name=`tabler:${iconName}`
		class:list={iconClass ? iconClass : 'w-5 h-5'}
	/>
	<slot />
</a>
