---
import Socials from './Socials.astro';

const today = new Date();
const year = today.getFullYear();
---

<footer class="py-16 mt-16 font-mono text-gray-500 text-center text-pretty">
	<div class="main-grid">
		<div class="content-stretch flex flex-col items-center gap-6 lg:gap-8">
			<div class="flex flex-col items-center gap-4 w-full">
				<!-- TODO: Maybe delete this fully one day -->
				<div class="h-card hidden">
					<a
						href={Astro.site}
						rel="me"
						class="u-url u-uid flex items-center gap-2 no-highlight no-underline text-inherit py-1 px-2 rounded-md transition-colors duration-300 hover:bg-gray-50">
						<img
							src="/images/profile-pic.jpg"
							alt="A picture of me wearing sunglasses"
							class="u-photo h-10 aspect-square block rounded"
						/>
						<div class="text-left">
							<p class="p-name font-sans font-normal text-gray-950">
								Dominik Hofer
							</p>
							<p class="p-note text-sm">Coder & occasional pixel pusher.</p>
							<p class="hidden">Proof of domain ownership: proven.lol/3a9299</p>
						</div>
					</a>
				</div>
				<Socials isFooter={true} />
			</div>
			<p class="text-sm">
				Made with 💚 and (too much) 🧉 from 2023 to {year} by me.
			</p>
		</div>
	</div>
</footer>
