---
import Logo from './Logo.astro';
import GradientBlur from './GradientBlur.astro';
import NavLink from './NavLink.astro';
---

<div
	class="main-grid fixed top-0 left-0 w-full bg-gradient-to-b from-white to-transparent z-50">
	<GradientBlur class="absolute inset-0 -scale-y-100" />
	<div
		class="margin-stretch py-8 flex items-center justify-between relative z-10">
		<a href="/" class="w-10 h-10 text-gray-950"><Logo /></a>
		<nav>
			<ul class="flex gap-6 text-sm font-mono">
				<li><NavLink href="/about">/about</NavLink></li>
				<li><NavLink href="/now">/now</NavLink></li>
				<li><NavLink href="/posts">/posts</NavLink></li>
				<li><NavLink href="/races">/races</NavLink></li>
				<li><NavLink href="/pics">/pics</NavLink></li>
				<li>
					<NavLink href="/connect">/connect</NavLink>
				</li>
			</ul>
		</nav>
	</div>
</div>
