---
import Logo from './Logo.astro';
import MenuButton from './MenuButton.astro';
import NavLink from './NavLink.astro';
---

<div
	class="main-grid fixed sm:sticky top-0 left-0 w-full bg-gradient-to-b from-white to-transparent z-50 sm:-mb-24">
	<!-- <GradientBlur class="absolute inset-0 -scale-y-100" /> -->
	<div
		class="margin-stretch py-6 flex items-center justify-between relative z-10"
		x-data="{ open: false }"
		:class="open && 'open'">
		<a href="/" class="w-10 h-10 text-gray-950 relative z-50"><Logo /></a>
		<MenuButton />
		<nav
			class="fixed inset-0 z-40 bg-white/50 backdrop-blur-lg sm:transition-none sm:backdrop-blur-none sm:bg-transparent p-6 sm:p-0 sm:static translate-x-full sm:translate-x-0 transition-transform duration-500 ease-in-out">
			<ul
				class="flex flex-col sm:flex-row gap-x-6 gap-y-6 sm:gap-y-2 text-lg sm:text-sm font-mono pt-24 sm:pt-0 flex-wrap justify-end">
				<li><NavLink href="/about">/about</NavLink></li>
				<li><NavLink href="/now">/now</NavLink></li>
				<li><NavLink href="/posts">/posts</NavLink></li>
				<li><NavLink href="/blogroll">/blogroll</NavLink></li>
				<li><NavLink href="/races">/races</NavLink></li>
				<li><NavLink href="/photos">/photos</NavLink></li>
				<li>
					<NavLink href="/hello">/hello</NavLink>
				</li>
			</ul>
		</nav>
	</div>
</div>

<style>
	.open nav {
		transform: translateX(0);
	}
</style>
