---
const { title, isH3, gap = 1, ...props } = Astro.props;
const titleClass =
	'col-[2_/_-2] md:col-[3_/-3] xl:col-[2_/_span_1] font-mono font-light text-base not-italic text-gray-500 leading-normal xl:sticky top-24 self-start xl:text-right';

const gapFactor = Number(gap);
const asideSlot = Astro.slots.aside;
---

<section class="main-grid scroll-mt-32" {...props}>
	{
		title &&
			(!isH3 ? (
				<h2 class={titleClass}>{title}</h2>
			) : (
				<h3 class={titleClass}>{title}</h3>
			))
	}
	{
		asideSlot && (
			<aside class="col-[2_/_-2] md:col-[3_/-3] xl:col-[2_/_span_1] font-serif italic text-base font-normal text-gray-500 xl:sticky top-24 self-start">
				<slot name="aside" />
			</aside>
		)
	}
	<div class={`flex flex-col gap-${4 * gapFactor} content-stretch`}>
		<slot />
	</div>
</section>
