---
const { title } = Astro.props;
---

<section class="main-grid">
	<h2
		class="col-[2_/_-2] md:col-[3_/-3] xl:col-[2_/_span_1] font-mono text-base font-normal not-italic text-gray-500">
		{title}
	</h2>
	<div class="content-stretch space-y-4"><slot /></div>
</section>
