---
const { post } = Astro.props;
const { title, source } = post.data;

const { Content } = await post.render();
---

<article>
	<div class="flex items-baseline gap-2 mb-2">
		<h3 class="h5 leading-none">
			{title}
		</h3>
		<a
			href={source}
			class="text-sm text-gray-500 font-mono whitespace-nowrap no-underline cursor-pointer ml-auto sm:ml-0"
			target="_blank"
			rel="noopener">Source</a
		>
	</div>
	<div
		class="prose prose-img:rounded prose-headings:font-medium prose-strong:font-medium max-w-none prose-li:my-0 prose-ul:mt-0 prose-ol:mt-0 prose-p:mb-2">
		<Content />
	</div>
</article>
