---
import { type CollectionEntry, getCollection } from 'astro:content';
import PostImage from '../../components/PostImage.astro';
import Post from '../../layouts/PostLayout.astro';

type Props = CollectionEntry<'newsletter'>;

export async function getStaticPaths() {
	const entries = [...(await getCollection('newsletter'))];
	return entries.map((entry) => ({
		params: { slug: entry.slug },
		props: entry,
	}));
}

const entry = Astro.props as Props;
const { Content } = await entry.render();
---

<Post {...entry.data}>
	<div
		class="prose prose-img:rounded prose-headings:font-medium prose-strong:font-medium max-w-none prose-code:before:hidden prose-code:after:hidden">
		<Content components={{ img: PostImage }} />
	</div>
</Post>
)
