---
title: home | dominikhofer [dot] me
layout: layouts/base.liquid
---

<header>
    <h1>Curious. Creative. Coder.</h1>
    <p>That’s me, Dominik :)</p>
    <p>I like to learn & understand more about the world we live in. While coming up with cool ideas & designing beautiful things. And bringing them to life with fancy symbols.</p>
    <p>That’s the most important stuff. If that peaked your interest, you can find the extended edition of my personal profile over at /about.</p>
</header>

<main class="prose">
    <h2>Where to reach me</h2>
    <p>Wanna share an idea, show me your project, talk about everything under the sun or just say hi?</p>
    <p>You can reach me on Mastodon or via email. Looking forward to your message ✌️</p>
    
    <h2>What I do</h2>
    <p>I craft things with code and try to create more stuff with my hands. A more accurate description of my current endeavours is listed over at /now.</p>
    <p>Here’s a recent project I am proud of:</p>
    <p>My personal website, which you are currently visiting. It’s a static site, built with Eleventy, hosted on Netlify and the source code is available on GitHub.</p>
    
    <h2>What you can do on this website</h2>
    <ul>
        <li>Learn more about me: <a href="/about">/about</a></li>
        <li>Read my latest blogpost: /b/xy</li>
        <li>Scroll through my photo album: /pics</li>
        <li>Take a look at some fleeting thoughts: /notes</li>
        <li>Or again, simply say hi :)</li>
    </ul>
    
    <p>Have a wonderful day, week, month, year!</p>
    
    <p>Cheers,</p>
    <p>_Signature_</p>
</main>
