/*
########################
Variables
########################
*/

:root {
	--color-foreground-primary: #000;
	--color-foreground-secondary: #4b5563;
	--color-background-primary: #fff;
	--color-background-secondary: #e5e7eb;
	--color-border: #d1d5db;
	--color-accent: #ecfb13;

	--font-sans: 'Switzer', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
	--font-serif: 'EB Garamond', 'Iowan Old Style', 'Palatino Linotype',
		'URW Palladio L', P052, serif;
	--font-monospace: 'Geist Mono', ui-monospace, 'Cascadia Code',
		'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;

	--easing-sine-out: cubic-bezier(0.61, 1, 0.88, 1);
	--easing-sine-in-out: cubic-bezier(0.37, 0, 0.63, 1);
}

/*
########################
Reset
########################
*/

// Credit: https://www.joshwcomeau.com/css/custom-css-reset/

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

/*
########################
Fonts
########################
*/

@font-face {
	font-family: 'EB Garamond';
	src: url('../fonts/EBGaramond-Variable-Italic.ttf') format('truetype');
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'EB Garamond';
	src: url('../fonts/EBGaramond-Variable.ttf') format('truetype');
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Geist Mono';
	src: url('../fonts/GeistMono-Variable.ttf') format('truetype');
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Switzer';
	src: url('../fonts/Switzer-Variable-Italic.ttf') format('truetype');
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Switzer';
	src: url('../fonts/Switzer-Variable.ttf') format('truetype');
	font-style: normal;
	font-display: swap;
}

/*
########################
Base Styles
########################
*/

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-o-font-smoothing: antialiased;
}

html {
	font-size: 16px;
}

body {
	font-family: var(--font-sans);
	background-color: #fff;
	color: #4b5563;
	font-size: 1rem;
	line-height: 1.5;
	font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-serif);
	text-wrap: balance;
	color: #000;
	font-size: 1.25rem;
	/* line-height: 1.2; */
	font-weight: 500;
	padding-top: 0.5rem;
	margin-bottom: 0.5rem;
	font-style: italic;
}

.prose > * + * {
	margin-top: 0.5rem;
}

a {
	color: currentColor;
	text-decoration: none;
}

a.mark,
.prose a,
.nav__link {
	display: inline-block;
	position: relative;
	padding: 0 0.25em;
}

a.mark::before,
.prose a::before,
.nav__link::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: var(--color-background-secondary);
	z-index: -1;
	transform-origin: bottom left;
}

.nav__link::before {
	width: 0%;
	height: 100%;
	background-color: var(--color-accent);
}

a.mark:hover::before,
.prose a:hover::before {
	animation: mark 1s var(--easing-sine-in-out) forwards;
}

@keyframes mark {
	33% {
		transform: scaleX(0.05);
		height: 1px;
		background-color: var(--color-background-secondary);
	}

	66% {
		transform: scaleX(0.05);
		height: 100%;
		background-color: var(--color-accent);
	}

	100% {
		transform: scaleX(1);
		height: 100%;
		background-color: var(--color-accent);
	}
}

.nav__link:hover::before {
	animation: mark-nav 0.5s var(--easing-sine-in-out) forwards;
}

@keyframes mark-nav {
	to {
		width: 100%;
	}
}

/*
########################
Layout
########################
*/

.container {
	display: grid;
	grid-template-columns:
		minmax(1rem, 1fr) minmax(0, 5vw) minmax(0, 64ch) minmax(0, 5vw)
		minmax(1rem, 1fr);
}

.container > * {
	grid-column: 3;
}
