/*
########################
Layout Block
########################
*/

.layout__block:not(:last-child) {
	margin-bottom: calc(var(--spacing-content) * 4);
}

/*
########################
Nav
########################
*/

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem 1rem;
	max-width: 60rem;
	margin: 0 auto;
}

nav a {
	text-decoration: none;
	color: #000;
}

.nav__logo {
	position: fixed;
	mix-blend-mode: difference;
	color: var(--color-background-primary);
}

.nav__logo svg {
	height: 3rem;
	width: 3rem;
}

.nav__list {
	font-family: var(--font-monospace);
	font-size: 0.875rem;
	display: flex;
	gap: 1rem;
	align-items: center;
	list-style: none;
}

/*
########################
Header
########################
*/

header {
	margin-bottom: calc(var(--spacing-content) * 6);
}

header > * + * {
	margin-top: var(--spacing-content);
}

[data-hover-word] {
	transition: opacity 0.3s var(--easing-sine-out);
}

[data-hover-group]:has([data-hover-word]:hover) [data-hover-word] {
	opacity: 0.25;
}

[data-hover-group]:has([data-hover-word='curious']:hover)
	[data-hover-word='curious'],
[data-hover-group]:has([data-hover-word='creative']:hover)
	[data-hover-word='creative'],
[data-hover-group]:has([data-hover-word='coder']:hover)
	[data-hover-word='coder'] {
	opacity: 1;
}

/* 
########################
Footer 
########################
*/

.footer {
	font-family: var(--font-monospace);
	padding: 2rem 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1rem;
	align-items: center;
	font-size: 0.75rem;
	margin-top: calc(var(--spacing-content) * 6);
}

.footer__socials {
	display: flex;
	gap: 1rem;
	list-style: none;
	padding: 0;
}

.footer__socials-link {
	transition: all 0.3s var(--easing-sine-out);
}

.footer__socials-link:hover {
	opacity: 0.75;
}

.footer__socials-link svg {
	width: 2em;
	height: 2em;
}

/*
########################
Polaroid
########################
*/

.polaroid {
	position: relative;
	width: 100%;
	border-radius: 0.5rem;
	overflow: hidden;
	transition: filter 0.3s var(--easing-sine-out);
	user-select: none;
}

.polaroid:hover {
	filter: grayscale(1);
}

.hero .polaroid {
	margin-left: auto;
	margin-bottom: -2rem;
	max-width: 15rem;
	transform: rotate(3deg);
}

.polaroid img {
	aspect-ratio: 4/5;
	object-fit: cover;
	border-radius: 0.125rem;
}

.polaroid::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(255, 255, 255, 0.4);
	-webkit-backdrop-filter: blur(8px) brightness(0.75) grayscale(0.5);
	backdrop-filter: blur(8px) brightness(0.75) grayscale(0.5);
	height: 20%;
}

.polaroid figcaption {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 2;
	padding: 8% 0;
	font-size: 0.75rem;
	font-family: var(--font-monospace);
	color: var(--color-background-primary);
	text-align: center;
}

/*
########################
Home
########################
*/

.signature {
	margin-top: 1rem;
	max-width: 10rem;
	pointer-events: none;
	user-select: none;
}

.signature__block {
	font-family: var(--font-serif);
	font-weight: 500;
	font-size: 1.125rem;
	font-style: italic;
	color: var(--color-text-primary);
}

/*
########################
Post
########################
*/

.post__path,
.post__published {
	font-family: var(--font-monospace);
	font-size: 0.875rem;
}
