/*
########################
Nav
########################
*/

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem 1rem;
	max-width: 60rem;
	margin: 0 auto;
}

nav a {
	text-decoration: none;
	color: #000;
}

.nav__list {
	font-family: var(--font-monospace);
	font-size: 0.875rem;
	display: flex;
	gap: 1rem;
	align-items: center;
	list-style: none;
}

/*
########################
Header
########################
*/

header {
	margin-bottom: calc(var(--spacing-content) * 6);
}

header > * + * {
	margin-top: var(--spacing-content);
}

[data-hover-word] {
	transition: opacity 0.3s var(--easing-sine-out);
}

[data-hover-group]:has([data-hover-word]:hover) [data-hover-word] {
	opacity: 0.25;
}

[data-hover-group]:has([data-hover-word='curious']:hover)
	[data-hover-word='curious'],
[data-hover-group]:has([data-hover-word='creative']:hover)
	[data-hover-word='creative'],
[data-hover-group]:has([data-hover-word='coder']:hover)
	[data-hover-word='coder'] {
	opacity: 1;
}

/* 
########################
Footer 
########################
*/

footer {
	font-family: var(--font-monospace);
	padding: 2rem 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.875rem;
	margin-top: calc(var(--spacing-content) * 6);
}

/*
########################
Polaroid
########################
*/

.polaroid {
	position: relative;
	width: 100%;
	border-radius: 0.5rem;
	overflow: hidden;
	transition: filter 0.3s var(--easing-sine-out);
}

.polaroid:hover {
	filter: brightness(1.1) grayscale(1);
}

.hero .polaroid {
	margin-left: auto;
	margin-bottom: -2rem;
	max-width: 15rem;
	transform: rotate(3deg);
}

.polaroid img {
	aspect-ratio: 4/5;
	object-fit: cover;
	border-radius: 0.125rem;
}

.polaroid::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-backdrop-filter: blur(12px) brightness(0.5) grayscale(0.75);
	backdrop-filter: blur(12px) brightness(0.5) grayscale(0.75);
	mask-image: linear-gradient(to top, black 30%, transparent 100%);
	-webkit-mask-image: linear-gradient(to top, black 30%, transparent 100%);
	height: 40%;
}

.polaroid figcaption {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 2;
	padding: 8% 0;
	font-size: 0.75rem;
	font-family: var(--font-monospace);
	color: var(--color-background-primary);
	text-align: center;
}

/*
########################
Post
########################
*/

.post__path,
.post__published {
	font-family: var(--font-monospace);
	font-size: 0.875rem;
}
