<footer class="footer">
    <ul class="footer__socials">
        <li class="footer__socials-item"><a href="https://hoferdo.link/mastodon" class="footer__socials-link">{% include "partials/svg/mastodon.svg" %}</a></li>
        <li class="footer__socials-item"><a href="mailto:hi@dominikhofer.me" class="footer__socials-link">{% include "partials/svg/email.svg" %}</a></li>
    </ul>
    <div class="monospace">Created <span class="ampersand">&</span> curated from 2018 – today with 🫶 and (too much) 🧉</div>
</footer>