<nav>
    <a href="/" class="nav__logo">{% include "partials/svg/logo.svg" %}</a>

    <div></div>

    <ul class="nav__list monospace">
        <li class="nav__item"><a class="nav__link" href="/about">/about</a></li>
        <li class="nav__item"><a class="nav__link" href="/blog">/blog</a></li>
        <li class="nav__item"><a class="nav__link" href="/notes">/notes</a></li>
        <li class="nav__item"><a class="nav__link" href="/pics">/pics</a></li>
    </ul>
</nav>