<nav>
    <a href="/">Logo</a>

    <ul class="nav__list monospace">
        <li class="nav__item"><a class="nav__link" href="/blog">~/blog</a></li>
        <li class="nav__item"><a class="nav__link" href="/notes">~/notes</a></li>
        <li class="nav__item"><a class="nav__link" href="/pics">~/pics</a></li>
        <li class="nav__item"><a class="nav__link" href="/about">~/about</a></li>
    </ul>
</nav>